body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 100vw;
}

body header, footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

main article {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

main nav, aside {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
}

main nav {
    order: 3;
}

main aside {
    order: 2;
}